.avatar {
  width: 36px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar__bubble {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #219ebc;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar__bubble__letter {
  font-size: 16px;
  color: white;
  font-weight: 700;
}
