@import 'variables.css';

.button {
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button--enabled {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}

.button--enabled:hover {
  background-color: var(--secondary-color-hover);
}

.button--disabled {
  background-color: #bdbdbd;
  color: black;
  cursor: not-allowed;
}
