.cart-page {
  padding: 8px;
  max-width: 800px;
  margin: 0 auto;
}

.cart-page__list {
  margin-top: 24px;
}

.cart-page__list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-page__list__item button {
  margin-left: 8px;
}

.cart-page__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-page__buttons {
  text-align: right;
  margin-top: 12px;
}
