.header {
  padding: 16px;
  background-color: #f7b801;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user__email {
  font-size: 14px;
  margin-right: 16px;
}

.header__user__icon {
  font-size: 36px;
  cursor: pointer;
  color: black;
  transition: color 0.2s ease-in-out;
}

.header__user__icon:hover {
  color: #f35b04;
}
.header__user__logout {
  margin-left: 16px;
}

.header__user__admin-icon {
  margin-left: 8px;
  color: #219ebc;
}
