@import 'variables.css';

.header {
  padding: 8px 12px;
  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: white;
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user__email {
  font-size: 14px;
  margin-right: 16px;
  color: white;
}

.header__user__icon {
  font-size: 36px;
  cursor: pointer;
  color: var(--secondary-color);
  transition: color 0.2s ease-in-out;
}

.header__user__icon:hover {
  color: var(--secondary-color-hover);
}
.header__user__logout {
  margin-left: 16px;
}

.header__user__admin-icon {
  margin-left: 8px;
  color: var(--secondary-color);
}
