.icon-button {
  width: 24px;
  height: 24px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button__bubble {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0, 0);
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button__bubble:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
