.login__header {
  padding-bottom: 8px;
  color: white;
}

.login__button-container {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.login__helper-text {
  text-align: center;
  color: white;
}

.login__helper-text__link {
  text-decoration: underline;
  cursor: pointer;
}
