.not-found-container {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(58, 9, 9);
  font-weight: 700;
  font-size: 40px;
}
