@import 'variables.css';

.products__header {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 3fr 3fr 1fr;
  column-gap: 8px;
  margin-bottom: 8px;
}

.products__header span {
  font-weight: 700;
}

.products__list__item {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 3fr 3fr 1fr;
  column-gap: 8px;
  padding: 2px 0;
}

.products__list__item:hover {
  background-color: #a8dadc;
}

.products__list__item span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.products__list__item__buttons {
  display: flex;
  color: var(--secondary-color);
}
