@import 'variables.css';

.products-page {
  max-width: 1024px;
  padding: 8px;
  margin: 0 auto;
}

.products-page__header {
  color: var(--primary-color);
  margin-bottom: 8px;
}

.products-page__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}
