@import 'variables.css';

.product-card {
  color: white;
  background-color: var(--primary-color);
  padding: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  min-width: 350px;

  display: flex;
  align-items: stretch;
  flex: 1;
}

.product-card__description-container {
  color: white;
  margin-left: 16px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}

.product-card__description-container__description {
  margin: 8px 0;
}

.product-card__description-container__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
