.toasts-container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.toasts-container__toast {
  margin: 8px;
  padding: 16px;
  width: 250px;
  border-radius: 4px;
  position: relative;
  transform: translateX(250px);
}

@keyframes toasts-container__toast--slideInOut {
  0%,
  100% {
    transform: translateX(250px);
  }
  5%,
  95% {
    transform: translateY(0px);
  }
}

.toasts-container__toast--error {
  background-color: #ae2012;
  color: white;
}

.toasts-container__toast--info {
  background-color: #00b4d8;
  color: white;
}

.toasts-container__toast--success {
  background-color: #0ead69;
  color: white;
}

.toasts-container__toast__close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
