@import 'variables.css';

.users-page {
  padding: 8px;
  color: var(--primary-color);
}

.user-list--row-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  column-gap: 8px;
}

.user-list__table-header {
  font-weight: 700;
  margin-bottom: 8px;
}

.user-list__table-row {
  padding: 2px 0;
}

.user-list__table-row:hover {
  background-color: #a8dadc;
}
